{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Beauty Tutorials</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="tutorial-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for tutorial in tutorials %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if tutorial.video %}
                        <a href="{% url 'tutorial_detail' tutorial.id %}">
                            <video class="card-img-top img-fluid" src="{{ tutorial.video }}" alt="{{ tutorial.title }}"
                                style="width: 200px; height: 200px; object-fit: cover;" controls></video>
                        </a>
                        {% else %}
                        <a href="{% url 'tutorial_detail' tutorial.id %}">
                            <video class="card-img-top img-fluid" src="{% static 'noimage.png' %}" alt="{{ tutorial.title }}"
                                style="width: 220px; height: 220px; object-fit: cover;" controls></video>
                        </a>
                        {% endif %}
                        <div class="card-body pb-2">
                            <p class="mb-0">{{ tutorial.title }}</p>
                        </div>
                        <div class="card-footer bg-white pt-2 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    {% if tutorial.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ tutorial.rating }} / 5</small>
                                    {% else %}
                                    <small class="text-muted">This tutorial has not yet been rated</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if forloop.counter|divisibleby:1 %}
<div class="col-12 d-sm-none mb-5">
    <hr>
</div>
{% endif %}
{% if forloop.counter|divisibleby:2 %}
<div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
    <hr>
</div>
{% endif %}
{% if forloop.counter|divisibleby:3 %}
<div class="col-12 d-none d-lg-block d-xl-none mb-5">
    <hr>
</div>
{% endif %}
{% if forloop.counter|divisibleby:4 %}
<div class="col-12 d-none d-xl-block mb-5">
    <hr>
</div>
{% endif %}
{% endblock %}