{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="font mb-4">Thank you, {{ order.full_name }} for shopping with Beauty Box </h2>
            <hr>
            <p class="text-black">Your Beauty Box order information is below. 
               A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="order-confirmation-wrapper p-2 border">
                <div class="row">
                    <div class="col">
                        <small class="font-weight-bold"><u>Order Information:</u></small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Order Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.date }}</p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col">
                        <small class="font-weight-bold"><u>Order Details:</u></small>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-black text-muted">
                            {{ item.product.name }}{% if item.product_shades %}
                                - Shade: {{ item.product.shades}}{% endif %}
                        </p>
                    </div>
                    <div class=" col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ item.quantity }}x @ £{{ item.product.price }} each
                        </p>
                    </div>
                </div>
                {% endfor %}

                <hr>

                <div class="row">
                    <div class="col">
                        <small class="font-weight-bold"><u>Delivery Address:</u></small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Full Name:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.full_name }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Address 1:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Address 2:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.street_address2 }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Town or City:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">County:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Country:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.country }}</p>
                    </div>
                </div>

                {% if order.postal_code %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Postcode:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Contact Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>{{ order.phone_number }}</p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col">
                        <small class="font-weight-bold"><u>Billing Information:</u></small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Order Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>£{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black text-muted">Delivery Charges:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p>£{{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black">Grand Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="font-weight-bold"><u>£{{ order.grand_total }}</u></p>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn btn-pink rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="logo-font">Back to your Profile page</span>
                </a>
            {% else %}
                <a href="{% url 'products' %}?category=sale" class="btn btn-pink rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-gifts"></i>
                    </span>
                    <span class="logo-font">Now check out our latest offers!</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
