html {
    height: 100%;
}

body {
    background-size: cover;
    height: calc(100vh - 164px);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

header {
    padding-bottom: 42px;
}

.font {
    font-family: 'Raleway';
    font-weight: 700;
}

.bg-lilac {
    background-color:#F2D5DD;
    padding: 0;
    margin: 0;
    width: 100%;
}

.image-container {
    max-width: 600px;
    max-height: 350px;
    margin: 0 auto;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.homepage-image {
    margin-top: 10px;  
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/*---------------Bootstap messages-------------*/
.message-container {
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 9999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.message-font {
    font-family: 'Raleway';
    font-weight: 400;
}

.bg-return {
    background-color: #E5E4E2;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border: 2px;
    border-color: #E5E4E2;
}

/*--------Copied from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.basket-container-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------Convenience classes - colors copied from Bootstrap -----------*/
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* ----------------------This is for the scrolling banner across the screen ------------*/
.banner {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    text-align: center;
}

.scrolling-text {
    display: flex;
    animation: scroll 40s linear infinite;
}

/*--------------------------This is for the carousel ------------------------ */

.p-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.p-inline p {
    display: inline-block;
    margin: 0 10px;
}

#highlight-carousel-small {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.carousel-indicators button {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white;
    border: none;
}

.carousel-indicators .active {
    background-color: grey;
}

.text-item {
    flex: none;
    white-space: nowrap;
    padding-right: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-300%);
    }
}

/* -----------------This is from Bulma--------------- */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Raleway';
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background-color: #F2D5DD;
    color: black;
    min-width: 260px;
}

.btn-black {
    background-color: black !important;
    color: white !important;
    border-color: black;
}

.btn-pink {
    background-color: #F2D5DD !important;
    color: black !important;
    border-color: #F2D5DD !important;
    
}

.btn-outline-pink:hover,
.btn-outline-pink:active,
.btn-outline-pink:focus {
    background: #FFD2D3 !important;
    border-color: #FFD2D3 !important;
    color:black !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
    background: #FFD2D3 !important;
    color: black !important;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------Allauth form formatting------------ */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #F2D5DD;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* button */
	display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F2D5DD;
    border: 1px solid #F2D5DD;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

/* ----------standard bootstrap button transitions---------- */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #F2D5DD;
    border-color: #F2D5DD;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -----------------Comment Section-------------------------- */
.comment-container {
    border: 2px solid #F2D5DD;
    padding: 15px;
}

/* -----------------Product Form -------------------------- */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ---------------------Footer----------------------- */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F2D5DD !important;
    padding: 10px 0;
    z-index: 1000;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-content: center; 
    width: 100%;
}

#social-media {
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    width: 100%;
}

#social-media li {
    font-size: 20px;
}

#social-media a {
    color: black;
}

.copyright {
    background-color: #F2D5DD;
    text-align: center;
    margin: 10px 0 0 0;
    width: 100%;
}
/*------------------- Media Queries ----------------------- */

@media (max-width: 389px) {
    .nav-icon {
        font-size: 14px;
    }

    #topnav .list-inline-item {
        margin-right: 5px;
    }

    .nav-link p {
        font-size: 10px;
    }

    .checkout-button {
        font-size: 12px;
        padding: 5px 10px;
    }

    .checkout-button .icon {
        font-size: 10px;
    }

    .checkout-button .text-uppercase {
        font-size: 10px;
    }

    .checkout-button .icon i {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .col-md-6.text-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .my-5 {
        margin-bottom: 0; 
    }
}

@media (max-width: 991px) {
    
    .header-container {
        padding-top: 210px;
    }

    body {
        height: calc(100vh - 194px);
    }

    .p-inline p {
        display: block;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

}

@media (min-width: 992px) {
    .header-container {
        padding-top: 289.39px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .header-container {
        padding-top: 265.39px;
    }
}