{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="video-container my-5">
                {% if blog.image %}
                <a href="{{ blog.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}"
                        style="width: 350px; height: 350px; object-fit: cover;">
                </a>
                {% else %}
                <a href="">
                    <img class="card-image-top img-fluid" src="{% static 'noimage.png' %}" alt="{{ blog.title }}"
                        style="width: 350px; height: 350px; object-fit: cover;">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-4 mt-md-5">
                <p class="mb-0 logo-font"><strong>{{ blog.title }}</strong></p>
                <hr>
                <div class="card-body pb-2">
                    <p class="mb-0 logo-font">{{ blog.content|safe }}</p>
                </div>
                <hr>
                {% if blog.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ blog.rating }} / 5</small>
                {% else %}
                <small class="text-muted font">No Rating</small>
                {% endif %}
            </div>
            <button type="submit" class="logo-font btn-pink">
                <a href="{% url 'blog' %}" class="shop-now-button btn
                        rounded-0 text-uppercase">Return to Blogs
                </a></button>
        </div>
    </div>


     <!-- Creating New Comment for individual blogs -->
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-4 card mb-4 mt-3">
                <div class="comment-body">
                    {% if user.is_authenticated %}
                    <h3 class="logo-font">Leave a comment:</h3>
                    <p class="font"><small>Posting as: {{ user.username }}</small></p>
                    <form class="font" id="commentForm" method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button class="btn btn-pink rounded-0" type="submit">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a comment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}