{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Beauty Blogs</h2>
            <hr class="w-50 mb-1">
            <p class="font p-4">Welcome to our Beauty Blog Page. Here you will find a number of our favourite blogs, with all the lastest beauty trends.</p>
            <hr class="w-50 mb-1">
            <a class="font btn btn-lg btn-pink btn-pink-hover text-uppercase rounded-0" href="{% url 'home' %}">Homepage</a>
        </div>
    </div>

    <div class="row p-5">
        {% for blog in blog %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">
                {% if blog.image %}
                <a href="{% url 'blog_detail' blog.id %}">
                    <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}" style="width: 300px; height: 350px; ">
                </a>
                {% else %}
                <a href="{% url 'blog_detail' blog.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}" style="width: 300px; height: 3500px;">
                </a>
                {% endif %}
                <div class="card-body mt-4 p-0 text-center">
                    <p class="mb-0 logo-font text-left">{{ blog.title }}</p>
                </div>
                <div class="card-footer bg-white mt-4 p-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            {% if blog.rating %}
                            <small class="text-muted font"><i class="fas fa-star mr-1"></i>{{ blog.rating }} / 5</small>
                            {% else %}
                            <small class="text-muted">This blog has not yet been rated</small>
                            {% endif %}
                            {% if request.user.is_superuser %}
                            <small class="ml-1">
                                <a href="{% url 'edit_blog' blog.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_blog' blog.id %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-5">
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}