{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">404 ERROR</h2>
            <hr class="w-50 mb-1">
            <p class="font p-4">Oops, it looks like you have encounted a broken link <br>
                Click the button below to return to the homepage.</p>
            <button type="submit" class="font btn-pink" href="{% url 'home' %}">Home Page</button>            
        </div>
    </div>

{% endblock %}

